{% extends "layout.html" %}
 {% block body %}

  <!-- Page Header -->
<header class="masthead" style="background-image:url('static/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{params['site_name']}}</h1>
            <span class="subheading">A Blog liked by programers</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <!--Todo-Fetch it with for loop from the database-->
          {% for post in posts %}
        
    
        <div class="post-preview">
          <a href="/post/{{post.slug}}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.tagline}}
            </h3>
          </a>
          <p>{{post.content}}</p>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            {{post.date}}</p>
        </div>
        {% endfor %}
        
        <hr>
        <!-- Pager -->
        <div class="clearfix">
        <a class="btn btn-primary float-left" href="{{prev}}"> &larr;Previous</a>
            <a class="btn btn-primary float-right" href="{{next}}">Next  &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
